{{template "header.html"}}
{{template "breadcrumb.html" .Breadcrumb}}

<form method="POST">
    <input type="hidden" name="_csrf" value="{{.CSRF}}">
    <div class="form-wrap">
        Редактирование файла {{.Name}}
    </div>
    <div class="form-wrap">
        {{.Message}}
    </div>
    <div class="form-wrap">
        Новое имя:<br>
        <input type="text" name="name" placeholder="file.txt" value="{{.Name}}">
    </div>
    <div class="form-wrap">
        <input type="submit" value="Сохранить" class="btn">
    </div>
</form>

{{template "footer.html"}}